
.navbar-brand { font-size: 29px !important; }
.primaryBtn {background-color:#101935; color: #fff; }
.secondaryBtn {background-color:#564787; color: #fff; border-radius: 20px; padding: 15px 40px;}
.secondaryBtn:hover {border: 1px solid #564787; }
.primaryBtn:hover {background-color:#fff; color: #101935; width: 100%; border-color: #101935;}
.link {text-decoration:underline;font-weight: 700; color:#101935; cursor: pointer;}
a {text-decoration:none; cursor: pointer;}
.navbar { background-color: #101935;}
.navbar-nav {gap: 50px;}
.footer { background-color: #101935;position: fixed; bottom: 0px; width: 100%;}
.errors { font-size: 12px; color: red;}
#userNav.dropdown-toggle::after{display: none;}
.loginBtn {background-color: transparent;  border: 1px solid #fff; color: #fff; width: 100%; border-radius: 20px;}
h1 { font-size: 5rem;}
h1.smallh1 { font-size: 3rem;}
.modalForm input {
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    padding: 2px 8px;
}
.modalForm #category input {    
    min-height: unset;
}

table.myTable tr {border-bottom: 1px solid #ddd; box-shadow: 0px 8px 11px 1px #dbcbd85e;}
table.myTable thead {background: #dbcbd8;}
.pagination { gap:10px;}
.pagination li button {border: 0px; padding: 5px 10px; background: #fff;}
.pagination li button:active,.pagination li.active button {background: #d8ccd7;box-shadow: 2px 2px 5px 2px #ddd; }
.pagination li.active.prevArrow button, .pagination li.active.nextArrow button {background: #d8ccd74d;}

/*font families*/
.ff-caveat {font-family: 'Caveat', cursive;}

select {
    min-height: 38px;
    outline: 0 !important;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
select.selectFilter, .css-b62m3t-container { width: 150px;}
.viewsBox .viewsBoxIcon { cursor: pointer; filter: brightness(0.1); width: 40px; height: 45px; padding: 5px;}
.viewsBox .viewsBoxIcon:hover, .viewsBox .viewsBoxIcon.active-icon { filter: invert(0.9) !important; box-shadow: 1px 1px 1px 1px #ddd; padding: 5px;}

@media only screen and (max-width:768px) {
    h1{ font-size: 4rem; }
    .cz_gf.b1_f2 { width: 420px;}
    .navbar-nav {gap: 20px; margin-top: 30px; margin-bottom: 30px !important;}
}

